# Plot 1

In [12]:
import pandas as pd
import numpy as np
df = pd.read_csv('Results.csv')
display(df)

,User City,Air Fare,Hotel Price,Food Cost,Penalty,Avg Rating,# reviews,Dest City
0,Newark,96.886894,240,102,92,4.2,71.6,Big Rock
1,Newark,116.836678,258,63,71,3.6,68.6,Palatine
2,Newark,102.102456,255,111,116,4.2,68.6,Thomson
3,Berkeley,161.787739,264,63,77,3.4,71.6,Turnbull
4,Berkeley,93.427937,264,69,83,3.2,63.8,Sparr
5,Berkeley,101.439317,243,81,74,3.6,55.2,Hawthorne
6,Houston,113.117758,243,75,68,4.8,43.4,Lumber City
7,Houston,107.463561,243,81,74,3.6,55.2,Hawthorne
8,Houston,110.715665,264,69,83,3.2,63.8,Sparr